:root{
    --ligthBackground: #F9F5EB;
    --background:#E4DCCF;
    --red:#EA5455;
    --blue:#002B5B;
    --green:#245953;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.toolbox-cont{
    height: 5rem;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
}

.toolbox-priority-cont{
    height: 3rem;
    width: 18rem;
    background-color:var(--ligthBackground);
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.action-btn-cont{
    height: 3rem;
    width: 10rem;
    background-color:var(--ligthBackground);
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.red{
    background-color: var(--red);
}

.blue{
    background-color: var(--blue);
}

.green{
    background-color: var(--green);
}

.black{
    background-color: black;
}

.add-btn,.remove-btn{
    font-size: 1.25rem
}

.modal-cont{
    height: 50vh;
    width: 50vw;
    display: none;
    position: absolute;
    left: 25vw;
    top: 25vh;
    background-color: var(--ligthBackground);
    border: 2px solid black;
}

.textarea-cont{
    width: 75%;
    height: 100%;
    outline: none;
    border: none;
    resize: none;
    background-color: var(--ligthBackground);
    font-size: 2rem;
    padding: 2rem;
    border-right: 2px solid var(--blue);
}

.priority-color-cont{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.priority-color{
    height: 3rem;
    width: 5rem;
    transition: all 0.3s linear;
}

.main-cont{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    margin-top: 7rem;
}

.ticket-cont{
    background-color: var(--ligthBackground);
    width: 15rem;
    height: 10rem;
    position: relative;
}

.ticket-color{
    height: 1rem;
}

.ticket-id{
    font-weight: 600;
    font-size:1rem;
    margin-top: 2px;
    color: var(--blue);
    padding-left: 5px;
    font-size: 0.75rem;
}

.task-area{
    height: 7.5rem;
    font-size: 1.25rem;
    overflow: auto;
    padding: 0.5rem;
    word-break: break-all;
    outline: none;
    
}

.active{
    border: 5px solid yellow;
}

.lock-unlock{
    color: var(--blue);
    font-size: 1.25rem;

    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}