*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 1rem 3rem;
}

.comment-container{
    position: relative;
}

.comment-container::before{
    content: "";
    height: 100%;
    width: 1px;
    background-color: black;
    position: absolute;
}

.comment-card{
    padding: 1rem;
    margin-bottom: 10px;
}

.reply{
    margin: 1rem 0 0 1rem;
    color: navy;
    font-weight: 600;
}

.reply:hover{
    cursor: pointer;
}

.comment-reply-container{
    margin-left: 5rem;
}

input{
    outline: none;
}

/* if comment-container is not the first child of it's parent have space from left  */
.comment-container:not(:first-child){
    margin-left:4rem
}